 body {
            font-family: Montserrat, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #AFCBF4, #D087FF);
            color: #312D68;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #312D68;
        }

        .question {
            margin: 20px 0;
        }

        .answers label {
            display: block;
            margin: 10px 0;
            cursor: pointer;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background: linear-gradient(to right, #FF97FE, #FFD75E);
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Montserrat', Arial, sans-serif;
            margin-top: 20px; /* отступ сверху, который опустит кнопку ниже */
        }


        button:hover {
            background:linear-gradient(to right, #FFD75E, #FF97FE);;
        }

        .result {
            text-align: center;
            margin-top: 20px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
            color: #312D68;
            font-size: 18px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            text-align: center;
            border-radius: 8px;
            border: none;
            background: transparent;
            color: #312D68;
            font-size: 16px;
            cursor: pointer;
            transition: opacity 0.3s;
        }

        .button:hover {
            color: #FFFFFF;
            background: transparent;
        }